.banner{
    padding: 5px;
    list-style: none;
    text-align: center;
    font-size: 30px;
}
.match{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 480px;
    height: 70px;
    padding: 10px;
    border:1px solid #000;
    border-radius: 20px;
}
.match img{
    width: 100px;
}
