.headerStyle {
    background-color: #1f5aff;
    padding: 20px;
    text-align:center;
    display: flex;
    justify-content: space-evenly;
  }
.titleStyle {
    margin: 0;
    font-size: 40px;
    color: #ffffff;
} 
.subtitleStyle {
    margin: 0;
    font-size: 40px;
    color: #ffffff;
} 
.containerInfos{
    margin-top: 80px;
}
.imagemBr{
    width: 200px;
}
.imagemCbf{
    width: 150px;
}